.button {
  display: inline-block !important;
  appearance: none !important;
  padding: 10px 15px !important;
  border: 2px solid cornflowerblue !important;
  border-radius: 5px !important;
  color: cornflowerblue !important;
  background: white !important;
  cursor: pointer !important;
}