.description,
.templateString {
  font-family: sans-serif;
  user-select: none;
}

.description {
  font-size: 24px;
  margin-bottom: 10px;
}

.templateString {
  text-overflow: ellipsis;
  font: 14px var(--specialFont)
}