.main {
  display: block;
}

.label {
  display: block;
}

.controls {
  margin-top: 1em;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.controls__value {
  display: inline-block;
  width: 1em;
  overflow: visible;
}